

		<!-- Main hero unit for a primary marketing message or call to action -->
		<div class="hero-unit">
			<h1>Administracion</h1>
			<p>Publica, modifica y/o elimina tus articulos</p>
			<div class="row">
				<div class="span2"><p><a href="/admin/prendas" class="btn btn-primary">Agrega una prenda!</a></p></div>
				<div class="span2"><p><a href="/admin/accesorios" class="btn btn-primary">Agrega un accesorio!</a></p></div>
			</div>
			
			
		</div>
		<!-- Example row of columns -->
		

	  	
	