	     	<div class="sixteen columns">
		      	<div class="h-border">
					<div class="heading">
						<h1>Subir articulo</h1>
					</div><!--Close "Heading" Div-->
				</div><!--Close H-border Div-->
			</div>
			<section class="row contact">
				<div class="sixteen columns">
					<form class="clearfix">
						<div class="contenedor-select">
							<select>
								<option class="impar">Prendas</option>
								<option class="par">Accesorios</option>
							</select>
						</div>
						<input type="text" class="small-text" placeholder="Titulo">
						<div class="custom-input-file">
							<input type="file" class="input-file" />
							Cargar imagen
						</div>
						<textarea class="message">Descripcion</textarea>
						<input type="submit" class="btn green" value="Subir">
					</form>
				</div>
			</section>	
			<div class="clear"></div>


									