
	     	<div class="sixteen columns">
		      	<div class="h-border">
					<div class="heading">
						<h1>Contacto</h1>
					</div><!--Close "Heading" Div-->
				</div><!--Close H-border Div-->
			</div>
			<section class="row contact">
				<div class="sixteen columns">
					<form class="clearfix">
						<input type="text" class="small-text" placeholder="Nombre">
						<input type="text" class="small-text" placeholder="Email">
						<input type="text" class="small-text" placeholder="Telefono">
						<textarea class="message">Mensaje</textarea>
						<input type="submit" class="btn green">
					</form>
				</div>
			</section>	
			<div class="clear"></div>

			