
	      	<section class="sixteen columns feature">
		        <div class="flexslider">
		          <ul class="slides">
		            	<li>
		  	    	    <img src="img/MorganaBlack.jpg" alt="Morgana">
		  	    		</li>
		  	    		<li>
		  	    	    <img src="img/MorganaWhite.jpg" alt="Morgana">
		  	    		</li>
		          </ul>
		        </div><!--Close Flexslider Div-->
	     	</section>
	     	<div class="sixteen columns">
		      	<div class="h-border">
					<div class="heading">
						<h1>Novedades</h1>
					</div><!--Close "Heading" Div-->
				</div><!--Close H-border Div-->
			</div>
			<section class="latest-work row">
				<div class="one-third column thumbnail">
					<a href="#">
						<img src="img/remera.jpg" alt="Morgana">
						<div class="details">
							<h2>Remera</h2>
							<p>Alguna descripcion de la remera o precio o lo que se te ocurra</p>
						</div><!--Close Details Div-->
					</a>
				</div><!--Close Thumbnail Div-->
				<div class="one-third column thumbnail">
					<a href="#">
						<img src="img/remera.jpg" alt="Morgana">
						<div class="details">
							<h2>Remera</h2>
							<p>Alguna descripcion de la remera o precio o lo que se te ocurra</p>
						</div><!--Close Details Div-->
					</a>
				</div><!--Close Thumbnail Div-->
				<div class="one-third column thumbnail">
					<a href="#">
						<img src="img/remera.jpg" alt="Morgana">
						<div class="details">
							<h2>Remera</h2>
							<p>Alguna descripcion de la remera o precio o lo que se te ocurra</p>
						</div><!--Close Details Div-->
					</a>
				</div><!--Close Thumbnail Div-->
			</section>
			<div class="sixteen columns row">
		      	<div class="h-border">
					<div class="heading">
						<h2>Quienes somos?</h2>
					</div><!--Close "Heading" Div-->
				</div><!--Close H-border Div-->
				<div class="focused-text">
					Descripcion minima de quienes son y que hacen.
				</div><!--Close Focused-text Div-->
			</div>
			<div class="row">
				<div class="eight columns center">
				</div>
				<div class="eight columns center">
				</div>
			</div>
			