<div class="sixteen columns">
		      	<div class="h-border">
					<div class="heading">
						<h1>Prendas</h1>
					</div><!--Close "Heading" Div-->
				</div><!--Close H-border Div-->
			</div>
			<section class="latest-work row">
				<div class="one-third column thumbnail">
					<a href="#">
						<img src="img/remera.jpg" alt="Morgana">
						<div class="details">
							<h2>Remera</h2>
							<p>Alguna descripcion de la remera o precio o lo que se te ocurra</p>
						</div><!--Close Details Div-->
					</a>
				</div><!--Close Thumbnail Div-->
				<div class="one-third column thumbnail">
					<a href="#">
						<img src="img/remera.jpg" alt="Morgana">
						<div class="details">
							<h2>Remera</h2>
							<p>Alguna descripcion de la remera o precio o lo que se te ocurra</p>
						</div><!--Close Details Div-->
					</a>
				</div><!--Close Thumbnail Div-->
				<div class="one-third column thumbnail">
					<a href="#">
						<img src="img/remera.jpg" alt="Morgana">
						<div class="details">
							<h2>Remera</h2>
							<p>Alguna descripcion de la remera o precio o lo que se te ocurra</p>
						</div><!--Close Details Div-->
					</a>
				</div><!--Close Thumbnail Div-->
			</section>
			<section class="latest-work row">
				<div class="one-third column thumbnail">
					<a href="#">
						<img src="img/remera.jpg" alt="Morgana">
						<div class="details">
							<h2>Remera</h2>
							<p>Alguna descripcion de la remera o precio o lo que se te ocurra</p>
						</div><!--Close Details Div-->
					</a>
				</div><!--Close Thumbnail Div-->
				<div class="one-third column thumbnail">
					<a href="#">
						<img src="img/remera.jpg" alt="Morgana">
						<div class="details">
							<h2>Remera</h2>
							<p>Alguna descripcion de la remera o precio o lo que se te ocurra</p>
						</div><!--Close Details Div-->
					</a>
				</div><!--Close Thumbnail Div-->
				<div class="one-third column thumbnail">
					<a href="#">
						<img src="img/remera.jpg" alt="Morgana">
						<div class="details">
							<h2>Remera</h2>
							<p>Alguna descripcion de la remera o precio o lo que se te ocurra</p>
						</div><!--Close Details Div-->
					</a>
				</div><!--Close Thumbnail Div-->
			</section>
			<section class="latest-work row">
				<div class="one-third column thumbnail">
					<a href="#">
						<img src="img/remera.jpg" alt="Morgana">
						<div class="details">
							<h2>Remera</h2>
							<p>Alguna descripcion de la remera o precio o lo que se te ocurra</p>
						</div><!--Close Details Div-->
					</a>
				</div><!--Close Thumbnail Div-->
				<div class="one-third column thumbnail">
					<a href="#">
						<img src="img/remera.jpg" alt="Morgana">
						<div class="details">
							<h2>Remera</h2>
							<p>Alguna descripcion de la remera o precio o lo que se te ocurra</p>
						</div><!--Close Details Div-->
					</a>
				</div><!--Close Thumbnail Div-->
				<div class="one-third column thumbnail">
					<a href="#">
						<img src="img/remera.jpg" alt="Morgana">
						<div class="details">
							<h2>Remera</h2>
							<p>Alguna descripcion de la remera o precio o lo que se te ocurra</p>
						</div><!--Close Details Div-->
					</a>
				</div><!--Close Thumbnail Div-->
			</section>