<div class="sixteen columns">
		      	<div class="h-border">
					<div class="heading">
						<h1>Our Work</h1>
					</div><!--Close "Heading" Div-->
				</div><!--Close H-border Div-->
			</div>
			<section class="latest-work row">
				<div class="one-third column thumbnail">
					<a href="#">
						<img src="img/thumb-1.jpg" alt="Thumb">
						<div class="details">
							<h2>Tri by AwfulMedia</h2>
							<p>Here's some description of the Tri template by AwfulMedia</p>
						</div><!--Close Details Div-->
					</a>
				</div><!--Close Thumbnail Div-->
				<div class="one-third column thumbnail">
					<a href="#">
						<img src="img/thumb-1.jpg" alt="Thumb">
						<div class="details">
							<h2>Tri by AwfulMedia</h2>
							<p>Here's some description of the Tri template by AwfulMedia</p>
						</div><!--Close Details Div-->
					</a>
				</div><!--Close Thumbnail Div-->
				<div class="one-third column thumbnail">
					<a href="#">
						<img src="img/thumb-1.jpg" alt="Thumb">
						<div class="details">
							<h2>Tri by AwfulMedia</h2>
							<p>Here's some description of the Tri template by AwfulMedia</p>
						</div><!--Close Details Div-->
					</a>
				</div><!--Close Thumbnail Div-->
			</section>
			<section class="latest-work row">
				<div class="one-third column thumbnail">
					<a href="#">
						<img src="img/thumb-1.jpg" alt="Thumb">
						<div class="details">
							<h2>Tri by AwfulMedia</h2>
							<p>Here's some description of the Tri template by AwfulMedia</p>
						</div><!--Close Details Div-->
					</a>
				</div><!--Close Thumbnail Div-->
				<div class="one-third column thumbnail">
					<a href="#">
						<img src="img/thumb-1.jpg" alt="Thumb">
						<div class="details">
							<h2>Tri by AwfulMedia</h2>
							<p>Here's some description of the Tri template by AwfulMedia</p>
						</div><!--Close Details Div-->
					</a>
				</div><!--Close Thumbnail Div-->
				<div class="one-third column thumbnail">
					<a href="#">
						<img src="img/thumb-1.jpg" alt="Thumb">
						<div class="details">
							<h2>Tri by AwfulMedia</h2>
							<p>Here's some description of the Tri template by AwfulMedia</p>
						</div><!--Close Details Div-->
					</a>
				</div><!--Close Thumbnail Div-->
			</section>
			<section class="latest-work row">
				<div class="one-third column thumbnail">
					<a href="#">
						<img src="img/thumb-1.jpg" alt="Thumb">
						<div class="details">
							<h2>Tri by AwfulMedia</h2>
							<p>Here's some description of the Tri template by AwfulMedia</p>
						</div><!--Close Details Div-->
					</a>
				</div><!--Close Thumbnail Div-->
				<div class="one-third column thumbnail">
					<a href="#">
						<img src="img/thumb-1.jpg" alt="Thumb">
						<div class="details">
							<h2>Tri by AwfulMedia</h2>
							<p>Here's some description of the Tri template by AwfulMedia</p>
						</div><!--Close Details Div-->
					</a>
				</div><!--Close Thumbnail Div-->
				<div class="one-third column thumbnail">
					<a href="#">
						<img src="img/thumb-1.jpg" alt="Thumb">
						<div class="details">
							<h2>Tri by AwfulMedia</h2>
							<p>Here's some description of the Tri template by AwfulMedia</p>
						</div><!--Close Details Div-->
					</a>
				</div><!--Close Thumbnail Div-->
			</section>